* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    list-style: none;
    box-sizing: border-box;

}

.b2::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: var(--BGcard);
    z-index: -1;

}

body {
    background-color: black;
}


* a {
    text-decoration: none;
}



*::selection {
    background-color: rgb(74, 74, 73);
    color: aliceblue;
}

:root {
    --divider: #F1F5F9;
    --mutedText: #94A3B8;
    --primTxt: #0F172A;
    --secText: #475569;
    --triTxt: rgb(45, 45, 45);
    --BLUE1: #2563EB;
    --BLUE2: #1D4EDB;
    --BGmain: #FFFFFF;
    --BGcard: #F8FAFC;
    --Hover: #EEF2F7;
    --Active: #e0e7ff;
    --height: 0%;




}

/* Unvisited link */
a:link {
    color: inherit;
    text-decoration: none;
}

/* Visited link */
a:visited {
    color: inherit;
    text-decoration: none;
}

.l_ {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: rgb(251, 159, 60);
    font-family: poppins;
    background-color: var(--c1);
    height: 100vh;
    width: 100vw;
    font-weight: 900;
    position: absolute;
    z-index: 10;

}

.h_ {
    transition: opacity 0.6s ease-out;
    pointer-events: none;
    z-index: 10;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: rgb(248, 248, 248);
    font-family: poppins;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    font-weight: 900;
    position: absolute;


}

body {
    /* background-color: var(--c1); */
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}



.newsArea {
    width: 100%;
    /* background-color: #5df318; */
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;


}





.n_box {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: relative;
    border-radius: 14px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    gap: 6px;
    background-image: none;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 0;
    height: 260px;
    width: 90%;
    transition: 0.5s ease-in;

}

.n_box::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.95) 0%,
            rgba(0, 0, 0, 0.85) 30%,
            rgba(0, 0, 0, 0.55) 50%,
            rgba(0, 0, 0, 0.15) 75%,
            transparent 100%);

    pointer-events: none;
}

.icon {
    color: rgb(139, 111, 75);

}



@keyframes scrollit {
    from {
        transform: translateY(-50%);
    }

    to {
        transform: translateY(0%);
    }

}

.head {

    user-select: none;
    color: rgb(252, 249, 249);
    font-size: 30px;
    font-family: poppins;
    font-weight: 700;
    z-index: 5;
    position: relative;

}



.n_des {
    width: 60%;
    position: relative;
    animation: scrollit 5s infinite linear;
    display: flex;
    flex-direction: column;
}

.de_strip {
    margin-top: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 130px;
    overflow-y: hidden;
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 20%);
    mask-image: linear-gradient(to top, transparent 5%, rgb(124, 122, 122) 20%)
}

.de_strip::-webkit-scrollbar {
    display: none;
}

.des {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: #c7c7ca;
    font-weight: 500;
    padding-bottom: 20px;
    flex: 0 0 5em;
    user-select: none;

}

.dot {
    user-select: none;
    color: rgba(124, 123, 123, 0.851);
    position: relative;
    top: 8px;
    font-size: 10px;
}

#date {
    color: rgba(124, 123, 123, 0.971);
    font-family: poppins;
    z-index: 5;
    font-size: 12px;
    position: relative;
    top: 6px;
    user-select: none;
}

.contains_date {
    display: flex;
    gap: 14px;
    padding: 20px 0px;
    position: absolute;
    bottom: -10px;
}

.src {
    user-select: none;
    font-size: 18px;
    color: rgb(255, 0, 0);
    font-family: poppins;
    position: relative;
    font-weight: 550;
}


.border {
    border-left: 1px solid rgba(65, 64, 64, 0.712);

}

.displayAr {
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 20px;


}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 4px 0px;
    background-color: var(--BGmain);
    gap: 40px;
    padding-top: 70px;
    margin-right: 10px;
    border-radius: 20px;
    min-height: 100dvh;
    height: fit-content;
    margin-left: 270px;
    flex-grow: 1;
    min-width: 0;
    padding-bottom: 2px;
    
}



/* //.sidebarDesk */

.sidebarDesk {
    height: 100dvh;
    width: 260px;
    border-right: 2px solid var(--divider);
    background-color: var(--BGmain);
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    padding: 30px;

}

.activeCat {
    background-color: #1557ff24;
    border-radius: 7px;
    padding: 4px 0px;
}

.activeCat .tC {
    color: var(--BLUE2);
}

.activeCat .tC_txt {
    color: var(--BLUE2);
    font-weight: 600;
}

.topCategory:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: var(--BLUE2);
}

.topCategory:active {
    cursor: pointer;
    transform: scale(1);
    color: var(--BLUE1);
}

.topCategoryWrapper {

    display: flex;
    flex-direction: column;

}

.title {
    color: var(--primTxt);
    font-size: 18px;
    font-weight: 800;
    position: relative;
    top: 10px;
}

.topCategory {
    margin: 4px 0px;
    font-weight: 500;
    font-size: 13px;
    font-family: Inter;
    position: relative;
    top: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 4px;
    transition: transform 0.2s ease-in-out;
    user-select: none;
}

.tC {
    font-size: 22px !important;
    font-weight: 600 !important;
}

.tC_txt {
    position: relative;
    top: 1px;
}

/* sidefooter */
.sideFooter {
    height: 180px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: var(--primTxt);
    padding: 14px;
    width: 100%;


}

#letsConnect2 {
    color: white;
    font-size: 30px;
    font-family: poppins;
    user-select: none;
    font-weight: 500;
}

#ln1 {
    width: 50px;
    height: 3px;
    background-color: rgb(255, 170, 0);
    border-radius: 20px;
    user-select: none;
}

#cR2 {
    color: rgb(182, 182, 182);
    font-size: 11px;
    padding-top: 8px;
    user-select: none;
}

#handles2 ul li {
    padding: 5px 0px;
    color: rgb(187, 186, 186);
    font-size: 13px;
    user-select: all;

}

#handles2 img {
    position: relative;
    top: 5px;
    user-select: none;
    height: 20px !important;
}




/* //NavBar */
nav {
    height: 55px;
    background-color: var(--BGmain);
    width: 100vw;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 5;
    transition: 0.3s ease-in;
    border: 1px solid var(--divider);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 1px 0px;


}

.nav_icon {
    background-color: #b6825d7a;
    border-radius: 50%;
    position: relative;
    top: 5px;
    font-size: 20px !important;
}

.navContent {
    padding: 0px;



}

.navContent ul {
    display: flex;
    gap: 40px;
    font-size: 14px;

}

.navContent ul a {
    user-select: none;
    font-weight: 550;
    font-family: 'Inter';

}

.navContent ul li {
    position: relative;
    transition: transform 0.3s ease;
    padding: 20px;
}

.special {
    color: var(--BLUE1) !important;
    font-weight: 700 !important;
}

.special::after {
    content: "";
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, #1557ff 0%, #4f8cff 55%, #8bc7ff 100%);
    position: absolute;
    bottom: 0.5px;
    left: 0px;
    border-radius: 999px;
}



.navContent ul li:hover {
    transform: translateY(-5px);
    cursor: pointer;
    color: var(--BLUE1);
}

.navContent ul li:active {
    transform: scale(0.7);
}



#uh1 {
    background-color: rgba(255, 255, 255, 0.889);
    padding: 18px 30px;
    border-radius: 50px;
    color: #6c63ff;
    font-weight: 700;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6),
        inset 0 -1px 1px rgba(255, 255, 255, 0.2),
        0 8px 30px rgba(0, 0, 0, 0.12);

}

#uh1:hover {
    transform: none !important;
    text-decoration: none !important;
}



.logo {
    width: 300px;
}



#temp_areaHead {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    color: #1a1715;
}

#temp_areaDes {
    font-size: 12px;
    font-family: poppins;
}

.template {
    height: 140px;
    background: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(16, 16, 16, 0.086);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: poppins;
    font-weight: 600;
    transition: 0.2s ease-out;


}

.template svg {
    transition: transform 0.2s ease-out;
}

.template:hover svg {
    color: #6c63ff;
    transform: scale(1.3);
}

.template:hover {
    transform: scale(1.1) !important;
    color: #6c63ff;
    background-color: rgb(240, 239, 239);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15), 0 0 20px rgba(108, 99, 255, 0.25);
    border: 1px solid#6c63ff;

}

.template:active {
    transform: scale(0.8);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;

}

.linker {
    display: inline-block;
}

.temp_area {
    /* border: 1px solid rgba(174, 174, 174, 0.527); */
    border-radius: 20px;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.32);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.246);
    backdrop-filter: blur(20px);
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    justify-content: center;
    max-width: 800px;
    padding: 1%;

}

.menu {
    display: none;
    cursor: pointer;
    font-size: 26px;
    font-weight: 600;
    position: fixed;
    right: 16px;
    top: 10px;
    transition: transform 0.05s ease-in;
    user-select: none;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -ms-user-select: none;
    /* Old Edge */
}

.menu:active {
    transform: scale(1.25);
}

.case {
    background-color: rgba(232, 231, 229, 0.874);
    backdrop-filter: blur(6px) !important;
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
    height: 100vh;
    max-width: 380px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    transition: 0.2s ease-in-out;
    display: flex;
    flex-direction: column;

    /* gap: 0px; */
    align-items: center;
    width: 80%;
    transform: translateX(-100%);
    /* hidden state */
    transition: transform 0.3s ease;
    overflow: hidden;
    touch-action: none;

}

.case .menuLinks {
    /* background-color: aqua; */
    /* height: 75%; */
    padding: 100px 0px;
    user-select: none;
}


.menu_icon {
    background-color:#1557ff46;
    border-radius: 100%;
    padding: 10px;
    font-weight: 300;
    font-size: 40px !important;
    height: 100%;
    position: relative;
    top: 6px;
}

.menuLinks ul li:active .menu_icon {
    background-color: #1557ffa6;
}

.case .menuLinks ul li a {
    display: flex;
    gap: 15px;
}

.case .menuLinks ul li {
    padding: 12px 0;
    transition: 0.2s ease;
    position: relative;
}

.icoTxt {
    font-size: 35px;
    font-weight: 600;
    font-family: poppins;




}

.iconDes {
    font-size: 15px;
    font-family: poppins;
    color: rgb(52, 51, 51);
    position: relative;
    /* top: -10px; */

}

.line {
    width: 110%;
    background-color: #5e5e5f8f;
    height: 1px;
    position: absolute;
    left: -5%;
    top: 100px;
    user-select: none;
}

.siteFooter {
    width: 100%;
    min-height: 60px;
    box-sizing: border-box;
    padding: 16px 30px;
    /* content coming later */
}

.caseFooter {
    width: 100%;
    background-color: var(--primTxt);
    height: 210px;
    position: fixed;
    bottom: 0px;
    box-sizing: border-box;
    padding: 30px 30px;

}


#letsConnect {
    color: white;
    font-size: 30px;
    font-family: poppins;
    user-select: none;

}

#ln2 {
    width: 50px;
    height: 3px;
    background-color: rgb(255, 170, 0);
    border-radius: 20px;
    user-select: none;
}

#cR {
    /* font-family: poppins; */
    color: rgb(115, 115, 115);
    font-size: 14px;
    padding-top: 8px;
    user-select: none;
}

#handles ul li {
    padding: 5px 0px;
    color: rgb(196, 196, 196);
    font-size: 15px;
    user-select: all;

}

#instagram_icon {
    position: relative;
    top: 7px;
    user-select: none;
}

#github_icon {
    position: relative;
    top: 5px;
    user-select: none;
}


#i_txt a {
    transition: 0.2s ease;
    font-family: 'cascadia code';

}

#g_txt a {
    transition: 0.2s ease;
    font-family: 'cascadia code';
}

#i_txt a:hover {
    display: inline-block;
    transform: scale(1.1);

}


#g_txt a:hover {
    display: inline-block;
    transform: scale(1.1);
}

.close_button {
    position: absolute;
    right: 10px;
    top: 10px;

}

.close_button span {
    font-size: 50px;
}

.menuLinks li:active {
    transform: scale(1.3);

}

.close_button {
    user-select: none;
}

.close_button {
    transition: 0.025s ease-in;
    user-select: none;
}

.close_button:active {
    transform: scale(0.8);

}

.close_button:hover {
    cursor: pointer;
}

.categoryIcons {
    color: #2d3748;
}



/* tileArea */
.tileWrapper {
    width: 90%;
}

.tileArea {

    border: 1px solid var(--divider);
    border-radius: 12px;
    background-color: var(--BGcard);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    padding: 7px;
    gap: 7px;

}

.tile {
    height: 140px;
    background-color: var(--BGmain);
    border: 1px solid var(--divider);
    border-radius: 12px;
    display: flex;
}

.tileAreaHead {
    color: var(--primTxt);
    font-weight: 800;
    padding-bottom: 12px;
    font-size: 18px;

}
.tile_img{
    width: 40%;
    height: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
}
.tile_txt{
    height: 50px;
    font-size: 16px;
    line-height: 1.1;
    
    font-weight: 500;
    
    
    
    
}
.tile_source{
    color: red;
}
.tileStat{
    padding: 10px;
}




/* //Message Display */
.message {
    font-size: 30px;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 40px;
    height: 20px;
    width: 114%;
    color: var(--triTxt);
}

.message::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: var(--height);
    background-color: var(--BLUE1);
    margin-right: 2px;
    position: relative;
    top: 1px;
    transition: 1s ease;
}

.anim::after {
    content: "|";
    animation: blink 1s infinite;
}

.message2 {
    display: none;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}



.scrollStrip{
    
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 7px;
    height: 100%;
    
}
.scrollCard{
    height: 95%;
    width: 140px;
    background-color: var(--BGmain);
    border: 1px solid var(--divider);
    border-radius: 12px;
    position: relative;
    transition: transform 0.15s ease-out;
 
    
}
.scrollCard:hover{
    transform: scale(1.1);
    
}
.scrollCard:active{
    transform: scale(0.9);
}

.scrollWrap{
    height: 200px;
    width: 90%;
    background-color: var(--BGcard);
    border: 1px solid var(--divider);
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0px 7px;
    overflow-x: scroll;
    overflow-y: none;
    
    
    
}
.scrollWrap::-webkit-scrollbar{
    display: none;
}
.card_img{
    width: 100%;
    height: 45%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-position: 20 30; */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card_cat{
    font-size: 10px;
    font-weight: 500;
    position: relative;
    left: 10px;
    top: 4px;

}
.card_txt{
    height: 50px;
    font-size: 11px;
    line-height: 1.3;
    padding: 5px 7px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: scroll;
    scrollbar-width: auto;
    position: relative;
    top: 6px;
    
}
.card_date{
    font-size: 10px;
    color: var(--secText);
    font-weight: 500;
    position: relative;
    left: 7px;
    bottom: -20px;
}





/* //Main Footer */
.siteFooter{
    height: 178px;
    background-color: #0F172A;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 17px;
    
}
.copyRight{
    color: rgb(158, 158, 158);
    user-select: none;
}
.profImage img{
    opacity: 0.95;
}
.profImage{
    display: flex;
    gap: 14px;
    
}
.names{
    display: flex;
    flex-direction: column;
    gap:1px;
}
.u_name{
    font-size: 45px;
    color: #f7f6f9;
}
.insta_id{
    font-size: 17px;
    color: rgb(176, 174, 174);
    transition: transform 0.2s ease-in-out;
}
.insta_id:hover{
    transform: scale(1.1);
    color: white;
}










































































.show {
    transform: translate(0);


}



@media screen and (max-width:1000px) {
    .temp_area {
        grid-template-columns: repeat(3, 140px);
        max-width: 800px;
        padding: 12px;
    }


    .navLinks {
        display: none !important;
    }

    .template {
        transition: 0.2s ease-in;
    }

    .template:hover {
        transform: none;
    }

    .template:active {
        transform: scale(0.8);
    }

    .sidebarDesk {
        width: 220px;
    }

    .main {
        margin-left: 225px;
        margin-right: 5px;
    }

    .menu {
        display: block;

    }

    .n_box {
        height: 250px;
    }


    /* //sidefooter */
    #letsConnect2 {
        font-size: 23px;
        font-weight: 500;
    }


    #cR2 {
        font-size: 10px;
        padding-top: 8px;
        position: relative;
        bottom: -10px;
    }

    #handles2 img {
        height: 18px !important;
    }






}

@media screen and (max-width:690px) {
    .temp_area {
        grid-template-columns: repeat(2, 140px);
        max-width: 800px;
    }

    .navLinks {
        display: none !important;
    }


    .sidebarDesk {
        display: none;
    }

    .main {
        margin: 0px 5px;
    }

    .search {
        display: none;
    }
    
    .message2 {
        display: block;
        font-size: 20px;
        font-weight: 500;
        height: 20px;
        width: 90%;
        color: var(--triTxt);
        position: absolute;
        left: 10px;
        top: -40px;

    }

    .message2::before {
        content: "";
        display: inline-block;
        width: 4px;
        height: var(--height);
        background-color: var(--BLUE1);
        margin-right: 2px;
        position: relative;
        top: 1px;
        transition: 1s ease;
    }
}

@media screen and (max-width:460px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .logo img {
        left: 6px;
        height: 40px !important;
    }

    nav {
        height: 45px;
    }

    .menu {
        top: 4px !important;
        font-size: 25px;
    }

    .iconDes {
        font-size: 10px;
        user-select: none;
    }

    .icoTxt {
        font-size: 25px;
        user-select: none;
    }

    .menu_icon {
        font-size: 30px !important;
        top: -1px;
        user-select: none;
    }

    .line {
        position: absolute;
        left: -5%;
        top: 70px;
    }

    #letsConnect {
        font-size: 25px;
    }

    .template {
        height: 100px;
        font-size: 12px;

    }

    .temp_area {
        grid-template-columns: repeat(2, 110px);
        max-width: 800px;
        padding: 10px;
    }

    /* //MainArea */


    .n_box {
        height: 170px !important;
        width: 95%;
    }

    .cardWrapper {
        width: 95%;
    }

    .cardArea {
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        padding: 5px;
        gap: 5px;
    }

}